.presentation { 
  position: relative; 
  width: 100%; 
  height: 100vh; 
  overflow: hidden; 
} 
.presentation-background { 
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
  background-image: url('background-image.jpg'); 
  background-size: cover; 
  z-index: -1; 
} 
.presentation-content { 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  height: 100%; 
} 
.slide { 
  display: none; 
  opacity: 0; 
  transition: opacity 0.5s; 
} 
.slide.visible { 
  display: block; 
  opacity: 1; 
} 

.buttons {
  display: flex;
  justify-content: center;
  gap: 20rem

}

.btnP {
  background-color: brown;
  color: white;
}

.btnN {
  background-color: chartreuse;
  color: grey;
}